<!doctype html>
<html>
<head>
<title>My Application</title>
</head>
<body>

  {% if current_user.is_authenticated %}
    Hi {{ current_user.get_id() }}! <a href="{{url_for('logout')}}">Logout</a>
  {% else %}
    u r not logged in <a href="{{url_for('login')}}">Login</a>
  {% endif %}



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>
